{% extends 'base.html' %}
<!-- body -->
{% block content %}
<div class="container-fluid mb-4 mt-3">
    <div class="row">

    <!-- filter -->
    
    <div class="col-lg-3">

       <div class="list-group">
        {% for c in category %}
           <a href="#" class="list-group-item list-group-item-action mt-3">{{c}}</a>
           <!-- <a href="#" class="list-group-item list-group-item-action">Item</a>
           <a href="#" class="list-group-item list-group-item-action disabled">Disabled item</a> -->
        {% endfor %}
       </div>
    </div>
    <!-- all product -->

    <div id="product" class="col-lg-9 mx-auto">
    <div class="row mx-auto ">
        {% for product in products %}
        <div class="card mx-auto mb-4 mt-3" style="width: 18rem;">
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text"><b>{{product.price}}</b></p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

    {% endblock %}
</div>
</div>
    <!-- container,
        container-fluid
        ,mb-4 mt-3(move from top),
        mb,col-lg-3(column left side[total 12]),
        mx-auto (for space blw div)   
        
        this use if i use bootstrap -->