{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="p-4 m-4 ">
      <div class="col-sm-4 mx-auto border rounded pt-4">
        <h3 class="alert alert-light border rounded">Create An Account</h3>

        <form action="/signup" method="post">
          {% csrf_token %}

          <!-- error message -->
          {% if error %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
          {% endif%}
    
          <!-- first name -->

        <div class="form-group">
          <label for="">First Name</label>
          <input value="{{values.firstz_name}}" type="firstname" name="firstname" id="" class="form-control" placeholder="">
        </div>

        <!-- last name -->

        <div class="form-group">
          <label for="">Last Name</label>
          <input value="{{values.lastz_name}}" type="lastname" name="lastname" id="" class="form-control" placeholder="">
        </div>

        <!-- phone number -->

        <div class="form-group">
          <label for="">Phone Number</label>
          <input value="{{values.phonez}}" type="number" name="phone" id="" class="form-control" placeholder="1234567890">
        </div>

      <!-- email -->

        <div class="form-group">
          <label for="">Email</label>
          <input value="{{values.emailz}}" required type="email" name="email" id="" class="form-control" placeholder="example@gmail.com">
        </div>

        <!-- password -->

        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="password" id="" class="form-control" placeholder="********">
        </div>

        <!-- submit -->
        <div class="form-group">
        <button type="submit" class="btn btn-primary ">Create An Account</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  
{% endblock %}


<!-- <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</form> -->